---
import Layout from "@layouts/Layout.astro";

import Hero from "@components/Hero.svelte";
import Timeline from "@components/Timeline/Timeline.astro";
import Clock from "@components/Clock.svelte";
import SectionHeader from "@components/SectionHeader.astro";
import Footer from "@components/Footer.astro";
import { Icon } from "astro-icon";
import NewsletterForm from "@components/NewsletterForm.svelte";

const posts = (await Astro.glob("./posts/*.mdx")) || [];
---

<Layout title="Marc Farias Jones">
  <main class="z-10 w-full">
    <div class="relative shadow-2xl">
      <Hero client:load />
      <div
        class="absolute right-2 top-1/2 mr-4 mt-4 hidden h-0 w-0 -translate-y-20 -rotate-90 items-baseline justify-center tracking-widest md:flex lg:mr-8"
      >
        <Clock client:load />
      </div>
    </div>
    <section
      class="z-0 min-h-screen bg-gradient-to-tr from-gray-500 to-gray-400 shadow-2xl"
    >
      <SectionHeader title="Things I've been doing" />
      <Timeline />
      <div
        class="h-16 border-t border-dashed border-gray-600 border-opacity-30 opacity-80"
      >
      </div>
    </section>
    <section
      class="shadow-2lg relative z-10 min-h-screen bg-gradient-to-tr from-gray-900 to-gray-800"
    >
      <SectionHeader dark title="Things I've been writing about" />
      <div
        class="mx-auto grid w-full max-w-6xl justify-stretch gap-8 p-8 py-12 lg:grid-cols-3"
      >
        {
          posts
            .sort(
              (a, b) =>
                new Date(b.frontmatter.date).getTime() -
                new Date(a.frontmatter.date).getTime()
            )
            .map((post) => (
              <a
                href={post.url}
                class="group flex w-full flex-col rounded-lg border border-gray-600 bg-gradient-to-tr from-gray-800 to-gray-700 p-4 shadow-lg transition hover:border-sky-400 hover:from-gray-900 hover:to-gray-800"
              >
                <h4 class="mb-2 text-xl font-bold text-sky-200">
                  {post.frontmatter.title}
                </h4>
                <p class="text-gray-400">{post.frontmatter.description}</p>
                <Icon
                  class="ml-auto mt-auto h-6 w-6 text-gray-400 transition-all group-hover:-translate-x-2 group-hover:text-sky-400"
                  name="entypo:arrow-right"
                />
              </a>
            ))
        }
      </div>
      <div class="mt-8 w-full px-8 pb-24">
        <NewsletterForm client:load />
      </div>
    </section>
    <Footer />
  </main>
</Layout>
