<footer class="border-t border-gray-700 bg-gray-900 p-4 shadow-inner">
  <div class="flex justify-between text-gray-400">
    <p class="text-lg">Marc Farias Jones</p>
    <p class="text-lg">© {new Date().getFullYear()}</p>
  </div>
</footer>
