---
export interface HeaderProps {
  title: string;
  dark?: boolean;
}

const { title, dark } = Astro.props;

const themeClasses = dark
  ? "border-gray-700 text-sky-400"
  : "border-gray-400 text-gray-700";
---

<header
  class={`relative h-40 pt-28 lg:pt-0 flex items-end justify-center lg:justify-start overflow-hidden border-dashed border-b ${themeClasses}`}
>
  <span
    class="absolute pointer-events-none -top-8 left-10 block whitespace-nowrap bg-gradient-to-tr from-gray-600 to-gray-500 bg-clip-text text-[220px] font-bold text-transparent opacity-10"
    >{title}</span
  >
  <h3 class="inline-block max-w-6xl p-4 text-2xl font-bold md:text-4xl lg:ml-4">
    {title}
  </h3>
</header>
